@font-face
{
  font-family: "Aller";
  src: url("fonts/Aller_Lt.ttf");
}

body
{
  background-color: #eee !important;
}
span.small.line
{
  font-size: 1.9em;
}

span.large.line
{
  margin: 3px 0;
  font-size: 2.8em;
}

span.line
{
  display: block;
}

p.emphasize
{
  font-size: 1.4em;
}

hr
{
  border-color: #eee;
  margin: 32px 0;
}

@media (max-aspect-ratio: 4/3)
{
  .hpadded
  {
    padding: 1em 2em;
  }

  .berkin
  {
    display: none;
  }
}

@media (min-aspect-ratio: 4/3)
{
  .hpadded
  {
    padding: 2em 12em;
  }
}

.line-set
{
  margin: 24px 0px;
  display: block;
}

.headitem
{
  padding: 0px 16px;
  white-space: nowrap;
  width: 150px;
  order: -1;
  align-items: center;
  overflow: hidden;
}

.headitem.icon
{
  width: 60px;
  order: -1;
  align-items: center;
  overflow: hidden;
}

.headbox
{
  height: 60px;
  font-family: "Aller";
  display: flex;
  flex-direction: row;
  background-color: #093c54;
  color: #fff;
  overflow: hidden;
}

:not(.right) + .right
{
  margin-left: auto;
}

.smaller
{
  zoom: 80%;
}

.berkin
{
  background-image: url("../img/berkin-white.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.button
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #fff;
  transition: background-color ease 0.2s, color ease 0.2s;
}

.button:hover
{
  color: #093c54;
  background-color: #fff;
}
