@font-face
{
  font-family: "Aller";
  src: url("fonts/Aller_Lt.ttf");
}

@media (max-aspect-ratio: 4/3)
{
  .hpadded
  {
    padding: 1em 2em;
  }

  .berkin
  {
    display: none;
  }
}

@media (min-aspect-ratio: 4/3)
{
  .hpadded
  {
    padding: 2em 5%;
  }
}

@media (max-device-width: 400px)
{
  .headbox
  {
    height: 120px !important;
    font-size: 36px !important;
  }
}

body
{
  background-color: #eee !important;
}

body::before
{
  content: '';
  background-image: url("../img/berkin-black.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-size: auto;
  background-position: center;
  opacity: 0.02;
}

span.small.line
{
  font-size: 1.9em;
}

span.large.line
{
  margin: 3px 0;
  font-size: 2.8em;
}

span.line
{
  display: block;
}

p.emphasize
{
  font-size: 1.4em;
}

hr
{
  border-color: #eee;
  margin: 32px 0;
}

a
{
  color: #062ac1;
}

.line-set
{
  margin: 24px 0px;
  display: block;
}

.headitem
{
  padding: 0px 0px;
  white-space: nowrap;
  width: 150px;
  order: -1;
  align-items: center;
  overflow: hidden;
}

.headitem.icon
{
  width: 60px;
  height: 100%;
  font-size: 1.2em;
  order: -1;
  align-items: center;
  overflow: hidden;
}

.headbox
{
  height: 60px;
  font-family: "Aller";
  font-size: 24px;
  display: flex;
  flex-direction: row;
  background-color: #093c54;
  color: #fff;
  overflow: hidden;
}

:not(.right) + .right
{
  margin-left: auto;
}

img.smaller
{
  zoom: 80%;
}

img.profile
{
  width: 175px;
  height: 175px;
}

p.smaller, a.smaller
{
  font-size: 0.9em;
}

.float-right
{
  display: block;
  float: right;
}

.float-left
{
  display: block;
  float: left;
}

.profile.float-left
{
  margin-right: 16px;
}

.profile.float-right
{
  margin-left: 16px;
}

.berkin
{
  position: absolute;
  top: -65px;
  left: -15px;
  width: 200px;
  height: 200px;
  background-image: url("../img/berkin-shadow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s all cubic-bezier(.53,.34,.56,.83);
  transform: scale(0.6);
}

.berkin:hover
{
  transform: scale(0.7) translateY(15px);
}

.button
{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: background-color ease 0.2s, color ease 0.2s;
}

.button:hover
{
  color: #093c54;
  background-color: #fff;
  z-index: 1000;
}

.section::after
{
  clear: both;
  content: '';
  display: table;
}

#project-list
{
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
}

.project
{
  display: inline-block;
  position: relative;
  margin: 6px;
  min-height: 175px;
  border-radius: 3px;
  border: 2px solid #ccc;
  color: #000;
  font-size: 1.2em;
}

.project > div
{
  padding: 0 16px;
  box-sizing: border-box;
}

.project-title
{
  font-size: 1.5em;
  display: block;
}

.project-body
{
  width: 100%;
  height: 100%;
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.project-links
{
  text-align: right;
  position: absolute;
  width: 100%;
  height: 32px;
  bottom: 0;
}

/* Portrait */
@media (max-aspect-ratio: 4/3)
{
  #project-list
  {
    flex-direction: column;
  }
  .landscape
  {
      display: none;
  }
  .project
  {
    display: block;
  }
}

/* Landscape */
@media (min-aspect-ratio: 4/3)
{
  .portrait
  {
      display: none;
  }
  .project
  {
    display: inline-block;
    width: 400px;
    max-width: 400px;
  }
}
