@font-face
{
  font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro-Regular.otf");
}

@font-face
{
  font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro-Semibold.otf");
  font-weight: 500;
}

@font-face
{
  font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro-It.otf");
  font-style: italic;
}

@font-face
{
  font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro-Light.otf");
  font-weight: 300;
}

@font-face
{
  font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro-LightIt.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face
{
  font-family: "Droid Sans Mono";
  src: url("fonts/DroidSansMono.ttf");
}

body
{
  background-color: #d6d6d6;
  font: 16px "Source Sans Pro", "Segoe UI", Arial, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}


h1, h2, h3, h4, h5, h6
{
  font-weight: 500;
}

h1
{
  font-size: 2.5em;
  color: #111;
  padding-bottom: 3px;
}

.nohpad h1
{
  padding-left: 24px;
}

h2
{
  font-size: 2.0em;
  color: #444;
}

h3, h4, h5
{
  color: #333;
}

p, ul
{
  font-size: 1.2em;
}

a
{
  text-decoration: none;
  color: #44f;
}

code
{
  font-family: "Droid Sans Mono", "Courier New", monospace !important;
}

table
{
  border: 1px solid #ccc;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

tr:nth-child(2n)
{
  background-color: #eee;
  margin: 0;
}

th, td
{
  margin: 0;
  padding: 0.5em;
  border: 1px solid #ccc;
}

#page
{
  background-color: #fafafa;
  max-width: 80em;
  margin: 0 auto;
  margin-bottom: 32px;
  min-height: 100vh;
  padding-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
  overflow: hidden;
}

#page.nohpad
{
  padding-left: 0;
  padding-right: 0;
}
