input#colorname
{
  transition: color 0.5s ease, border-color 0.5s ease;
  background: none;
  padding: 6px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 3px;
  outline: none;
  width: 75%;
}

.colorsample
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  height: 450px;
  border-radius: 6px;
  border: 1px solid #999;
  margin: 36px;
  padding: 20px;
  transition: background-color 0.5s ease;
}

.colorhex
{
  margin-top: auto;
  transition: color 0.5s ease;
  font-size: 1.2em;
}

.note
{
  font-size: 0.9em;
  color: #666;
  font-style: italic;
}
