#colorname
{
  transition: color 0.5s ease, border-color 0.5s ease;
  background: none;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
  border: none;
  outline: none;
  width: 50%;
}

#colorname:invalid
{
  border: 1px dotted #fff;
  border-top: none;
  border-left: none;
  border-right: none;
}

::-webkit-input-placeholder
{
   font-style: italic;
}

:-moz-placeholder
{
   font-style: italic;
}

::-moz-placeholder
{
   font-style: italic;
}

:-ms-input-placeholder
{
   font-style: italic;
}

.colorsample *
{
  padding: 4px;
}

.colorsample
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 350px;
  height: 450px;
  border-radius: 6px;
  border: 1px solid #999;
  margin: 36px;
  padding: 20px;
  transition: background-color 0.5s ease;
}

.colorhex
{
  margin-left: auto;
  transition: color 0.5s ease;
  font-size: 1.2em;
}

.note
{
  font-size: 0.9em;
  color: #666;
  font-style: italic;
}
